html{
    background-color: #fcea8f;
}

h1, h2, h3, p{
    margin: 0;
}

.NavBar{
    display: flex;
    align-items: flex-start;
    padding-block: 1.2em;
    padding-inline: 2.5em;

    font-family: 'Outfit', sans-serif;
    font-size: 1.8em;
}

.Logo{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.Logo > h2{
    margin-top: 0;
    margin-bottom: 0;

    color: #FF0340;
}

.Logo > i{
    color: #D92F58;
}

.Logo--1{
    margin-right: .3em;
}

.Logo--2{
    margin-left: .3em;
}

.xs{
    font-size: .3em;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-decoration: none;
    cursor: pointer;

    margin: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.5s;
}

.icon--search{
    background-color: #D92F58;
}

.icon--search:hover{
    color: #ec9eb0;
    background-color: #7a1b31;
}

.icon--events{
    background-color: #FF0202;
}

.icon--events:hover{
    color: #fc5757;
    background-color: #790101;
}

.icon--about{
    background-color: #0F83C3;
}

.icon--about:hover{
    color: #94d6fa;
    background-color: #08415f;
}

.Event--Category-Div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Event--Category{
    margin: 15px;
    font-family: 'Assistant', sans-serif;
}

.Event--Category > h3{
    font-style: italic;
    font-weight: 600;
}

.Event--Category > h1{
    color: #6748C1;
    font-weight: 800;
    cursor: pointer;
}

.Event--Category > h1:hover{
    color: #b73ce7;
}

.Event{
    display: flex;
    justify-content: center;
    align-items: center;
}

.EventCard{
    max-width: 30em;
    min-width: 30em;
    border-radius: 10px;

    background-color: #D92F58;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.185);
}

.EventCard--contentDiv{
    width: 90%;
    margin: auto;
    padding-block: 5%;

    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    color: white;
}

.EventCard--contentDiv > img{
    width: 100%;
    height: auto;
}

.Event--Title{
    margin-top: 10px;
    margin-bottom: 40px;
}

.Event--Title > p, .Event--Title > h2{
    margin: 0;
}

.Event--Title > h2 > a{
    color: white; 
    text-decoration: none;
}

.Event--Title > h2 > a:hover{
    color: #F7FF9C;
    text-decoration: none;
}


.Event--Title > p{
    color: rgba(255, 255, 255, 0.75);
}

.Event--Info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Event--Date{
    font-size: 1.1em;
    color: #F7FF9C;
}

.Event--Date > p{
    margin-block: 3px;
}

.Event--Price{
    font-size: 1.3em;
}

.Event--Price > p{
    margin: 0;
}

.Event--Price span{
    color:#65e063;
    font-weight: 600;
}

.icon--dislike{    
    background-color: #DE3434;
    transition: transform .5s ease-in-out;
}

.icon--like{
    background-color: #51C156;
    transition: transform .5s ease-in-out;
}

.event--icon{
    margin: 30px;
    border: none;
    font-size: 1.8em;
    min-height: 60px;
    min-width: 60px;
}

.icon--dislike:hover, .icon--like:hover{
    transform:rotate(360deg);
}

.NoEvents{
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
    color: #D92F58;
    margin-top: 3%;
}

.EventPageItem{
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    max-width: 50em;
    border-radius: 10px;

    display: flex;
    align-items: center;

    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    
    background-color: #D92F58;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.185);
}


.EventPageItem > button{
    margin: 10px;
}

.EventPageItem--Info{
    margin-right: auto;
}

.EventPageItem--Info > h2{
    margin-block: 0;
}

.EventPageItem--Info > h2 > a{
    text-decoration: none;
    color: white;
}

.EventPageItem--DateTime, .EventPageItem--Info > h2 > a:hover{
    color: #F7FF9C;
}

.EventPageItem--DateTime{
    display: flex;
}

.EventPageItem--Date{
    margin-right: 20px;
}

.icon--remove{
    background-color: white;
    color: #DE3434;
}

.icon--calendar{
    background-color: white;
    color: #51C156;
}

.AboutPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.AboutDiv{
    background-color: #D92F58;
    color: white;

    padding-inline: 3%;
    padding-block: 1.5%;
    border-radius: 10px;
    text-align: center;
    font-family: "Assistant", sans-serif;
}

.AboutDiv > p{
    margin: 10px;
    font-weight: 400;
}

.AboutIcon {
    font-size: 2.5em;
    color: white;
    padding-inline: 10px;
}

.AboutIcon:hover{
    color: rgb(102, 8, 8)
}